@import url(./style-padrao.css);

/* estlização da seção inicial */

#secao_inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
}

#titulo_inicial {
    color: var(--cor-destaque);
    font-family: var(--fonte-titulo);
    margin-top: 3rem;
    font-size: 50px;
}

#p_inicial {
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    margin-top: 1rem;
    font-size: 24px;
}

/* estilização da seção de reviews */

#secao_news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-secao);
    width: 100%;
}

.div_news {
    display: flex;
    justify-content: center;
    border: 1px solid var(--cor-card);
    border-radius: 15px;
    background-color: var(--cor-card);
    width: 85%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.div_news_responsivo {
    display: none;
}

.card_news {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img_news img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.new_conteudo {
    width: 100%;
    margin-left: 1.5rem;
}

.titulo_card_new {
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 35px;
    color: var(--cor-destaque);
    width: 100%;
    text-align: center;
}

.barra_titulo {
    display: flex;
    border-bottom: 2px solid var(--cor-destaque);
    width: 100%;
    margin-top: 1rem;
}

.new {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
    font-size: 20px;
    width: 100%;
    margin-top: 2rem;
    height: 75px;
}

.publicacao {
    font-family: var(--fonte-texto);
    color: var(--cor-destaque);
    margin-top: 2rem;
}

.div_btn {
    display: flex;
    justify-content: end;
}

.btn_new {
    font-family: var(--fonte-texto);
    font-size: 24px;
    border: 2px solid var(--cor-texto);
    border-radius: 20px;
    background-color: transparent;
    width: 35%;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 1.5rem;
    padding: 0;
}

.btn_new a {
    text-decoration: none;
    color: var(--cor-texto);
    transition: 0.5s;
}

.btn_new:hover {
    background-color: var(--cor-texto);
    transform: scale(1.05);
    transition: 0.5s;
}

.btn_new a:hover {
    color: black;
    transition: 0.5s;
}

@media screen and (min-width: 280px) and (max-width: 768px){
    #secao_inicial {
        justify-content: center;
        height: 150px;
    }

    #titulo_inicial {
        margin: 0;
        margin-bottom: 2rem;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    #p_inicial {
        margin: 0;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    /* estilização da seção de reviews */

    .div_news {
        display: none;
    }

    .div_news_responsivo{
        display: flex;
        justify-content: center;
        border: 1px solid var(--cor-card);
        border-radius: 15px;
        background-color: var(--cor-card);
        width: 80%;
        margin: 1rem 0;
    }

    .card_news {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .img_news {
        transform: scale(0.5);
        height: 220px;
    }

    .new_conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%
    }

    .titulo_card_new {
        margin: 0;
        font-size: 24px;
        width: 80%;
        text-align: center;
    }
    
    .barra_titulo {
        margin: 0;
        margin-top: 1rem;
        width: 85%;
    }

    .new {
        display: none;
    }

    .publicacao {
        margin: 0;
        margin-top: 1rem;
        width: 80%;
        text-align: center;
    }

    .btn_new {
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 60%;
    }

}