@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background: #000a46;
    --cor-header-footer: #00106d;
    --cor-secao: #00072b;
    --cor-titulo: #00aaff;
    --cor-card: #0074ad48;
    --cor-texto: beige;
    --cor-destaque: #ffc501;
    --cor-menu: #2a40b9;
    --fonte-titulo: 'Press Start 2P';
    --fonte-texto: 'Oswald';
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

/* estilização do header */

.cabecalho {
    width: 100%;
    background-color: var(--cor-header-footer);
}

.menu .ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.text_menu {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 24px;
    padding: 1rem 1rem;
    margin: 0 3rem 0 3rem;
    transition: 0.5s;
}

.text_menu:hover {
    color: var(--cor-destaque);
    transform: scale(1.1);
    transition: 0.5s;
}

#titulo_header {
    font-family: var(--fonte-titulo);
    font-size: 30px;
    color: var(--cor-destaque);
}

/* estilização do footer */

footer {
    background-color: var(--cor-header-footer);
    color: var(--cor-titulo);
    font-family: var(--fonte-texto);
}

#div_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#p_footer {
    margin-top: 1rem;
}

/* media queries */

@media screen and (max-width: 768px) {
    .menu .ul-menu {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .bi-list {
        font-size: 24px;
        color: var(--cor-destaque);
    }

    .container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer>.bi-list {
        color: var(--background);
    }
    
    .container__botao:checked~.container__rotulo {
        background: var(--cor-destaque);
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .container__icon {
        padding: 1em;
    }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 60vw;
    }

    .container__botao:checked~.lista-menu {
        display: block;
    }

    .lista-menu__item {
        padding: 1em;
        background-color: var(--cor-menu);
        font-family: var(--fonte-texto);
        font-weight: 700;
    }

    .lista-menu__link {
        background: var(--cor-texto);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: none;
    }
}