@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background: #000a46;
    --cor-header-footer: #00106d;
    --cor-secao: #000a3a;
    --cor-titulo: #00aaff;
    --cor-texto: beige;
    --cor-destaque: #ffc501;
    --fonte-titulo: 'Press Start 2P';
    --fonte-texto: 'Oswald';
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

/* estilização do header */

.cabecalho {
    width: 100%;
    background-color: var(--cor-header-footer);
}

.menu .ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.text_menu {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 24px;
    padding: 0 5rem 0 4rem;
}

#titulo_header {
    font-family: var(--fonte-titulo);
    font-size: 30px;
    color: var(--cor-titulo);
}

/* estilização do footer */

footer {
    background-color: var(--cor-header-footer);
    color: var(--cor-titulo);
    font-family: var(--fonte-texto);
}

#div_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#p_footer {
    margin-top: 1rem;
}